{% extends "layout.html" %}

{% block body %}

<div class="card">
	<div class="card-block">
		<h5 class="card-title">User Management</h5>

		<div class="row col-12">
			<div class="card col-4">
				<div class="card-block">
					<h5 class="card-title">Add a New Support</h4>

					<div class="form-group">
						<label for="username">Name</label>
						<input type="text" class="form-control" id="username" name="username">		
						
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" name="email">		

						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password">		

						<span class="pull-right" style="margin-top: 20px">
							<button type="button" id="supportAdd" class="btn btn-primary">Add a Support</button>
						</span>
					</div>

				</div>
			</div>

			<div class="card col-7 offset-1">
				<div class="card-block">
					<h5 class="card-title">Modify/Delete a New Support</h5>
					
					<div class="row">
							
						<div class="col">
								<label for="supportStaffMod">Manage Support Staff</label>
								<select class="form-control" id="supportStaffMod" name="supportStaffMod" height="10">
								{% for support in supports %}
									<option value="{{support.id}}">{{support.username}}</options>
								{% endfor %}
								</select>
						</div>
						
						<div class="col">
							<label for="userNameMod">Name</label>
							<input type="text" class="form-control modDel" id="userNameMod" name="userNameMod">		
							
							<label for="userEmailMod">Email</label>
							<input type="text" class="form-control modDel" id="userEmailMod" name="userEmailMod">		

							<label for="userPasswordMod">Password</label>
							<input type="password" class="form-control" id="userPasswordMod" name="userPasswordMod">		

							<span class="pull-right" style="margin-top: 20px">
								<button type="button" id="supportUpdate" class="btn btn-primary">Update</button>
								<button type="button" id="supportDelete" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
							</span>
						</div>
						
					</div>
					
				</div>
			</div>	
			
		</div>
		
	</div>
</div>


<script>

	$('#supportStaffMod').click(function () {
		$.ajax({
			dataType: "json",
			url: '/config/' + $(this).val(),
			success: function(data) {
				console.log(data);
				document.getElementById("userNameMod").value = data.username;
				document.getElementById("userEmailMod").value = data.email;
			}
		});	
	});
	
	$('#supportDelete').click(function () {
		$.ajax({
			type: "GET",
			url: '/config/delete/' + document.getElementById("supportStaffMod").value,
			success: function() {
				window.location.href = "/config/"
			}
		});		
	});

	$('#supportAdd').click(function () {
		$.ajax({
			type: "POST",
			url: '/config/add',
			dataType: 'json',
			data: {
				username: document.getElementById("username").value,
				email: document.getElementById("email").value,
				password: document.getElementById("password").value
			},
			success: function() {
				window.location.href = "/config/"
			}
		});		
	});
	
</script>




{% endblock %}








