
{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/issue/update/{{ticket.id}}">

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Ticket Details</h4>
	<h6 class="card-subtitle mb-2 text-muted">Created: <strong>{{ticket.issueUpdates[0].issueUpdatedAt|unix}}</strong><span class="pull-right">Ticket Status: <span class="text-danger"><strong>{{ticket.issueStatus}}</strong></span></span></h6>

		<div class="row">
			<div class="form-group col-6">
				<label for="issueType">Issue Type</label>
				<input type="text" class="form-control" id="issueType" name="issueType" disabled value="{{ticket.issueType}}">		
			</div>

			<div class="form-group col-6">
				<label for="issueReporterType">Who is Reporting the Issue?</label>
				<input type="text" class="form-control" id="issueReporterType" name="issueReporterType" disabled value="{{ticket.issueReporterType}}">
			</div>
		</div>
		
		{% if (issueOther) %}
		<div style="display:none" id="formIssue">
			<div class="form-group">
				<label for="issueOther">Other (Please Specify)</label>
				<input type="text" class="form-control" id="issueOther" name="issueOther" disabled>
			</div>
		</div>
		{% endif %}

		<div class="row">
			<div class="form-group col-6">
				<label for="issueReporterContactName">Contact Name</label>
				<input type="text" class="form-control" id="issueReporterContactName" name="issueReporterContactName" aria-describedby="nameHelp" value="{{ticket.issueReporterContactName}}" disabled>
			</div>

			<div class="form-group col-6">
				<label for="issueReporterContactEmail">Contact Email Address</label>
				<input type="email" class="form-control" id="issueReporterContactEmail" name="issueReporterContactEmail" aria-describedby="emailHelp" value="{{ticket.issueReporterContactEmail}}" disabled>
			</div>
		</div>
		
		{% if (ticket.issueSID) %}
		<div class="row">

			<div class="form-group col-3">
				<label for="issueSID">Student ID</label>
				<input type="text" class="form-control" id="issueSID" name="issueSID" value="{{ticket.issueSID}}" disabled>
			</div>

		</div>
		{% endif %}

		<div class="row">

			<div class="form-group col-4">
				<label for="issueLocation">Class, Room Number, or General Location</label>
				<input type="text" class="form-control" id="issueLocation" value="{{ticket.issueLocation}}" disabled>
			</div>

			<div class="form-group col-4">
				<label for="issueRequiredBy">Required By</label>
				<input type="text" class="form-control" id="issueRequiredBy" value="{{ticket.issueRequiredBy|unix}}" disabled>
			</div>

			<div class="form-group col-4">
				<label for="issueAssignedTo">Assigned To</label>
				<input type="text" class="form-control" id="issueAssignedTo" value="{{ticket.issueAssignedTo|getUser}}" disabled>
			</div>

		</div>
		
	</div>
</div>		

<div style="height: 10px;"></div>

<div class="card">
	<div class="card-block">
		<h4 class="card-title">Past Update Details</h4>

		{% for update in ticket.issueUpdates %}
		<div style="height: 10px;"></div>

		<div class="card">
			<div class="card-block">
				<h6 class="card-subtitle mb-2 text-muted">Updated: <strong>{{update.issueUpdatedAt|unix}}</strong></h6>

				<div class="form-group">
					<label for="issueDetail">Update Description</label>
					<textarea class="form-control" id="issueDetail" disabled>{{update.issueDetail}}</textarea>
				</div>

				<div class="row">
					<div class="form-group col-4">
						<label for="issueImportance">Importance</label>
						<input type="text" class="form-control" id="issueImportance" value="{{update.issueImportance}}" disabled>
					</div>

					<div class="form-group col-4">
						<label for="issueStatus">Status</label>
						<input type="text" class="form-control" id="issueStatus" value="{{update.issueStatus}}" disabled>
					</div>

					<div class="form-group col-4">
						<label for="issueSupportName">Update By</label>
						<input type="text" class="form-control" id="issueSupportName" value="{{update.support.username}}" disabled>
					</div>

				</div>
				
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>

{% if ticket.issueStatus != "Closed" %}
{% if user %}
<div style="height: 10px;"></div>

<div class="card">
	<div class="card-block">
		<h4 class="card-title">New Update Details</h4>
	
		<div class="form-group">
			<label for="issueDetail">Describe the Update</label>
			<textarea class="form-control" id="issueDetail" name="issueDetail" rows="5"></textarea>
		</div>

		<div class="row">

			<div class="form-group col-6">
				<label for="issueImportance">Importance</label>
				<select class="form-control" id="issueImportance" name="issueImportance">
					<option value="Ciritcal" class="text-danger">Critical</option>
					<option value="High" class="text-warning">High</option>
					<option value="Normal" class="text-primary" selected>Normal</option>
					<option value="Low" class="text-success">Low</option>
				</select>
			</div>

			<div class="form-group col-6">
				<label for="issueStatus">Status</label>
				<select class="form-control" id="issueStatus" name="issueStatus">
					<option value="Open" selected>Open</option>
					<option value="Closed">Closed</option>
				</select>
			</div>

		</div>
		<div class="col-12">
			<span class="pull-right">
				<button type="submit" id="issueUpdate" class="btn btn-primary">Update Issue</button>
			</span>
		</div>

		
	</div>
</div>
{% endif %}
{% endif %}

</form>

{% endblock %}

