﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Helpdesk</title>
	
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/theme-default.min.css">	
    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>		
	
</head>
<body>

	<div class="blog-masthead">
		<div class="container">
			<nav class="nav blog-nav">

				<a class="nav-link active" href="/">Home</a>
				{% if user %}
				<a class="nav-link" href="/issue">Report an Issue</a>
				<a class="nav-link" href="/move">Equipment Move</a>
				<a class="nav-link" href="/task">Tasks</a>
				<a class="nav-link" href="/message">Messages</a>
				{% if messages | length > 0 %}
				<a class="nav-link" href="/message/read">
					<span class="badge badge-default">{{ messages | length }}
						<i style="margin-left: 2px;padding: 2px;" class="fa fa-envelope-o" aria-hidden="true"></i>
					</span>
					
				</a>
				{% endif %}
				<a class="nav-link" href="/config"><i class="fa fa-cogs" aria-hidden="true"></i></a>
				<a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
				{% else %}
				<a class="nav-link" href="/login">Login</a>
				{% endif %}
			</nav>
		</div>
	</div>

    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">Helpdesk</h1>
            <p class="lead blog-description">Issue tracking, messaging, and equipment control</p>
        </div>
    </div>

	<div class="container">
	
		<div class="row">
			<div class="col-12 blog-main">

				{% block body %}
				{% endblock %}
	
				{% block sidebar %}
				{% endblock %}
		
			</div><!-- /.row -->		
		</div>
		
		<div style="height: 100px;"></div>
		
		<div class="row">
			<div class="col-12">
				<span class="pull-right text-muted">
					<a href="https://twitter.com/zebadrabbit">made with <i class="fa fa-heart" aria-hidden="true"></i></a>
				</span>
			</div>
			<div class="col-12">
				<span class="pull-right text-muted">
					<a href="https://gitlab.com/elukens/helpdesk">available on <i class="fa fa-gitlab" aria-hidden="true"></i></a>
				</span>
			</div>
			<div class="col-12">
				<span class="pull-right text-muted">
					<a href="https://creativecommons.org/">share and win <i class="fa fa-creative-commons" aria-hidden="true"></i></a>
				</span>
			</div>
			
		</div>
		
		<div style="height: 20px;"></div>
		
	</div><!-- /.container -->
	
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>	
<script src="/javascripts/bootstrap-datepicker.min.js"></script>

</body>
</html>