{% extends "layout.html" %}

{% block body %}

<form method="post">

<div class="card col-4">
	<div class="card-block">
		<h4 class="card-title">Login</h4>

		<div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" placeholder="Username" id="username" required="required" />
            {% if (message['loginErrorUsername']) %}
              <small id="usernameHelp" class="form-text text-danger">Username is incorrect.</small>
            {% endif %}
		</div>

		<div class="form-group">
            <label for="password">Password</label>
            <input  class="form-control" type="password" name="password" placeholder="Password" id="password" required="required" />
            {% if (message['loginErrorPassword']) %}
              <small id="passwordHelp" class="form-text text-danger">Password is incorrect.</small>
            {% endif %}
		</div>

		<button type="submit" class="btn btn-primary btn-block btn-large">Log in!</button>

    </div>
</div>
</form>

{% endblock %}