{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/message/send"><div class="card">	<div class="card-block">		<h5 class="card-title">Take a Message</h4>		<div class="row">			<div class="form-group col-4">				<label for="supportStaff">Select a Support Staff</label>				<select class="form-control" id="supportStaff" name="username" height="10">				{% for support in supports %}					<option value="{{support.id}}">{{support.username}}</options>				{% endfor %}				</select>							</div>								<div class="form-group col-8">				<label for="messageTopic">Topic</label>				<input type="text" class="form-control" id="messageTopic" name="messageTopic">			</div>			</div>				<div class="row">			<div class="form-group col-4">				<label for="messageContactName">Contact Name</label>				<input type="text" class="form-control" id="messageContactName" name="messageContactName">			</div>				<div class="form-group col-4">				<label for="messageContactEmail">Contact Email</label>				<input type="text" class="form-control" id="messageContactEmail" name="messageContactEmail">			</div>				<div class="form-group col-4">				<label for="messageContactPhone">Contact Phone</label>				<input type="text" class="form-control" id="messageContactPhone" name="messageContactPhone">			</div>			</div>		<div class="form-group">			<label for="messageContent">Message</label>			<textarea class="form-control" id="messageContent" name="messageContent" rows="5"></textarea>		</div>			<span class="pull-right"><button type="submit" class="btn btn-primary">Send Message</button></span>		</div></div></form>

<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Read Messages</h5>

		<table class="table table-hover table-sm" id="openIssues">
		  <thead>
			<tr>
			  <th>From</th>
			  <th>Topic</th>
			  <th>Date</th>
			</tr>
		  </thead>

		  <tbody>
			{% for ticket in tickets %}
			<tr id="{{ticket._id}}">
				<td>{{ticket.issueImportance}}</td>
				<td>{{ticket.issueLocation}}</td>
				<td>{{ticket.issueReporterContactName}}</td>
			</tr>
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>		


{% endblock %}




