{% extends "layout.html" %}

{% block body %}

<form enctype='application/json' method="post" action="/message/send">

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Read Messages</h4>

		{% for message in messages %}
		{% if message.messageRead == false %}
		<div style="height: 10px;"></div>

		<div class="card">
			<div class="card-block">
				<h6 class="card-subtitle mb-2 text-muted">Topic: <strong>{{message.messageTopic}}</strong></h6>

				<div class="row">
					<div class="form-group col-4">
						<label for="messageContactName">Contact Name</label>
						<input type="text" class="form-control" id="messageContactName" name="messageContactName" value="{{message.messageContactName}}" disabled>
					</div>	

					<div class="form-group col-4">
						<label for="messageContactEmail">Contact Email</label>
						<input type="text" class="form-control" id="messageContactEmail" name="messageContactEmail" value="{{message.messageContactEmail}}" disabled>
					</div>	

					<div class="form-group col-4">
						<label for="messageContactPhone">Contact Phone</label>
						<input type="text" class="form-control" id="messageContactPhone" name="messageContactPhone" value="{{message.messageContactPhone}}" disabled>
					</div>	
				</div>

				<div class="form-group">
					<label for="messageContent">Message</label>
					<textarea class="form-control" id="messageContent" name="messageContent" rows="5" disabled>{{message.messageContent}}</textarea>
				</div>

				<div class="col-12">
					<span class="pull-right">
						<button type="button" id="{{message.id}}" class="btn btn-primary">Mark as Read</button>
					</span>
				</div>

				
			</div>
		</div>
		{% endif %}
		{% endfor %}
		
	</div>
</div>
</form>

<div style="height: 10px"></div>

<div class="card">
	<div class="card-block">
		<h5 class="card-title">Read Messages</h5>

		<table class="table table-hover table-sm" id="readMessages">
		  <thead>
			<tr>
			  <th>From</th>
			  <th>Topic</th>
			  <th>Date</th>
			</tr>
		  </thead>

		  <tbody>
			{% for message in messages %}
			{% if message.messageRead == true %}
			<tr id="{{message._id}}">
				<td>{{message.messageContactName}}</td>
				<td>{{message.messageTopic}}</td>
				<td>{{message.messageDate|unix}}</td>
			</tr>
			{% endif %}
			{% endfor %}		  
		  </tbody>
		</table>
	
  </div>
</div>		


<script>

	$("button").on( "click", function() {
		console.log($(this).attr('id'));
		window.location.href = "/message/done/" + $(this).attr('id');
	});
	
</script>


{% endblock %}

